<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="assets/LOGO_IKOMI.png"><img src="assets/LOGO_IKOMI.png" alt="IKM Logo" ></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/inicio']" routerLinkActive="active"><i style="margin: 0px 4px;" class="bi bi-house"></i>Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/nosotros']" routerLinkActive="active"><i style="margin: 0px 4px;" class="bi bi-building-fill"></i>Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/servicios']" routerLinkActive="active"><i style="margin: 0px 4px;" class="bi bi-briefcase"></i>Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/productos']" routerLinkActive="active"><i style="margin: 0px 4px;" class="bi bi-wrench-adjustable"></i>Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/marcas']" routerLinkActive="active"><i style="margin: 0px 4px;" class="bi bi-slack"></i>Marcas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contactenos']" routerLinkActive="active"><i style="margin: 0px 4px;" class="bi bi-person-lines-fill"></i>Contáctenos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>