<div class="todo_service">
    <div class="services-section">
        <h2 class="section-title">SERVICIOS</h2>
        <p class="section-subtitle">Estamos listos para atenderte.</p>
        <div class="services-container">
            <div class="service-card">
                <div class="icon">
                    <i class="bi bi-briefcase"></i>
                </div>
                <div class="content">
                    <h3>Ventas</h3>
                    <p>Venta de los mejores repuestos de partes de motor, cajas, transmisiones, piñones, coronas y trenes fijos de las marcas de Korea y Japón. A los mejores precios del mercado.</p>
                </div>
            </div>
            <div class="service-card">
                <div class="icon">
                    <i class="bi bi-card-checklist"></i>
                </div>
                <div class="content">
                    <h3>Asesoría</h3>
                    <p>Le brindamos una asesoría personalizada acerca de nuestros productos, a elegir el mejor repuesto para su movilidad.</p>
                </div>
            </div>
            <div class="service-card">
                <div class="icon">
                    <i class="bi bi-truck"></i>
                </div>
                <div class="content">
                    <h3>Delivery</h3>
                    <p>Compras sin salir de casa, realizamos entregas a domicilio en el menor tiempo posible.</p>
                </div>
            </div>
            <div class="service-card">
                <div class="icon">
                    <i class="bi bi-binoculars"></i>
                </div>
                <div class="content">
                    <h3>Productos</h3>
                    <p>Contamos con las mejores marcas y calidad de productos del mercado.</p>
                </div>
            </div>
        </div>
    </div>
</div>
