<div class="container">
    <div class="card">
        <img src="./../../../assets/nosotros1.jpg" alt="Equipo">
        <div class="title">Equipo</div>
    </div>
    <div class="card">
        <img src="./../../../assets/nosotros2.jpg" alt="Almacen">
        <div class="title">Almacen</div>
    </div>
    <div class="card">
        <img src="./../../../assets/nosotros3.jpg" alt="Tienda">
        <div class="title">Tienda</div>
    </div>
    <div class="card">
        <img src="./../../../assets/nosotros4.jpg" alt="Empresa">
        <div class="title">Empresa</div>
    </div>
</div>
