<div class="todo_productos">
    <div class="products-section">
        <h2 class="section-title">NUESTROS PRODUCTOS</h2>
        <p class="section-subtitle">Los mejores productos y precios.</p>
        <div class="categories">
            <button class="category-button active">TODAS LAS CATEGORÍAS</button>
            <button class="category-button">DISCO, PLATO Y COLLARÍN DE EMBRAGUE</button>
            <button class="category-button">PASTILLA Y ZAPATA DE FRENO</button>
            <button class="category-button">PIÑÓN Y PARTE DE CAJA</button>
            <button class="category-button">NUEVA CATEGORÍA</button>
        </div>
        <div class="products-container">
            <div class="product-card">
                <img src="./../../../assets/producto1.png" alt="Producto 1">
            </div>
            <div class="product-card">
                <img src="./../../../assets/producto2.jpg" alt="Producto 2">
            </div>
            <div class="product-card">
                <img src="./../../../assets/producto3.png" alt="Producto 3">
            </div>
            <div class="product-card">
                <img src="./../../../assets/producto4.png" alt="Producto 4">
            </div>
            <div class="product-card">
                <img src="./../../../assets/producto5.png" alt="Producto 5">
            </div>
            <div class="product-card">
                <img src="./../../../assets/producto6.jpg" alt="Producto 6">
            </div>
            <div class="product-card">
                <img src="./../../../assets/producto7.png" alt="Producto 7">
            </div>
            <div class="product-card">
                <img src="./../../../assets/producto8.png" alt="Producto 8">
            </div>
        </div>
    </div>
</div>
