  <div style="width: 100%;height: 100vh; display: flex;align-items: center; justify-content: center;">
      <div class="contact-container">
          <h2>Contáctenos</h2>
          <p>
            Llene el formulario y un asesor se pondrá en contacto lo más pronto posible.
          </p>
          <div class="contact-content">
            <div class="map-container">
              <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d975.4584369341703!2d-76.9733483803246!3d-12.048221922163742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105ce545a5e4c85%3A0x352f5e144a90c4e0!2sAv.%20Nicol%C3%A1s%20Ayll%C3%B3n%203384%2C%20Ate%2015012%2C%20Peru!5e0!3m2!1sen!2sus!4v1624286739631!5m2!1sen!2sus"
                width="100%" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy">
              </iframe>
            </div>
            <form class="contact-form">
              <input type="text" placeholder="Apellidos y Nombres" required>
              <input type="tel" placeholder="Teléfono" required>
              <input type="email" placeholder="Correo" required>
              <input type="text" placeholder="Asunto" required>
              <textarea placeholder="Mensaje" rows="4" required></textarea>
              <button type="submit">Enviar Mensaje</button>
            </form>
          </div>
        </div>
  </div> 