<div style="width: 100%;height: 100vh; display: flex;align-items: center; justify-content: center;">
    <div class="brands-container">
        <h2>Marcas</h2>
        <p>
          Contamos con las marcas más reconocidas en el mercado nacional e internacional especializadas en la fabricación de repuestos para vehículos con altos estándares de calidad.
        </p>
        <div class="brand-grid">
          <div class="brand-card">
            <img src="./../../../assets/marca1.png" alt="Sangsin Brake">
            <h3>Sangsin Brake</h3>
            <p>
              Fabricante líder en la industria Coreana de piezas y partes para frenos de fricción, cuenta con más de 6 plantas a nivel mundial. Sangsin está equipado con las mejores tecnologías originales globalmente apreciadas y es suplidor OEM para Hyundai, Kia, GM Daewoo, SSangyong y Renault Samsung.
            </p>
          </div>
          <div class="brand-card">
            <img src="./../../../assets/marca2.png" alt="Hansang">
            <h3>Hansang</h3>
            <p>
              La marca HANSANG maneja una amplia gama de repuestos de parte de caja como son: Piñón y corona, Deslizante, Piñones, Trenfijo, Satélites, Planetarios, Propulsor, Bronces, etc.
            </p>
          </div>
          <div class="brand-card">
            <img src="./../../../assets/marca3.png" alt="Mando">
            <h3>Mando</h3>
            <p>
              Mando Corporation pertenece al grupo Halla Holding y cuenta con 20 fábricas en el mundo, 16 centros de investigación y con más de 11,000 trabajadores. La visión de Mando Corporation es crear productos seguros, ecológicos y de fácil uso.
            </p>
          </div>
          <div class="brand-card">
            <img src="./../../../assets/marca4.png" alt="TCIC">
            <h3>TCIC</h3>
            <p>
              Tae Chul Industrial Co. fabricante de piezas de automóviles con más de 70 años de experiencia en la producción de bombas y bombines de freno y embrague de la mejor calidad. Cuenta con 5 plantas en Asia.
            </p>
          </div>
          <div class="brand-card">
            <img src="./../../../assets/marca5.jpg" alt="PHC Valeo">
            <h3>PHC Valeo</h3>
            <p>
              Valeo Pyeong Hwa International es una compañía que cuenta con más de 90 años de creación y se ha convertido en socio de los principales fabricantes de automóviles, con operaciones en 33 países, diseñando tecnologías y sistemas innovadores para que los futuros automóviles sean más intuitivos, autónomos y amigables con el medio ambiente.
            </p>
          </div>
          <div class="brand-card">
            <img src="./../../../assets/marca6.png" alt="Yulim">
            <h3>Yulim</h3>
            <p>
              Establecida en 1998, Yulim High-Tech ha crecido como una de las compañías líderes de la industria del automóvil en Corea. Produce y exporta piezas para sistemas de suspensión y dirección.
            </p>
          </div>
        </div>
      </div>
  </div>
  